*{
    margin: 0;
    padding: 0;
    

}
body{
    /* background-image: url(bg.jpeg); */
    background-color: black;
}
.navbar{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    color: #00db28;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.first .py-5 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.second .py-5 {
    padding-top: 1rem!important;
    padding-bottom: 3rem!important;
}

#press{

    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.press-text{
    padding-bottom: 5%;
    color: #00db28;
}
.fourth .py-5 {
    padding-top: 3rem!important;
    padding-bottom: 0rem!important
}
