*{
    margin: 0;
    padding: 0;
}
.navbar{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Ubuntu', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.first .py-5 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.second .py-5 {
    padding-top: 1rem!important;
    padding-bottom: 3rem!important;
}
.second{
    background-image: url(b2.jpg);
}
.third{
    background-image: url(b2.jpg);
}
#press{

    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.press-text{
    padding-bottom: 5%;
}